body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#quote-box {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 400px;
  height: 350px;
  margin: 0 auto;
  border-radius: 5px;
  justify-content: space-between;
  align-items: space-between;
}